.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Tahoma;
    padding: 7px;
    margin-bottom: 10px;
    margin-top: 0;
    position: relative;
    top: -75px;
    left: auto;
}

.goBack {
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 8px;
    font-size: 15px;
    font-weight: 500;
    font-family: Tahoma;
    color: white;
    background-color: #5f1c52;
}

.questions {
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 5px;
}

.input {
    background-color: #5f1c52;
    border-radius: 10px;
    margin-left: 10px;
    color: white;
    border: none;
    padding: 6px;
    width: 300px;
    height: 2rem;
    font-size: large;
    font-family: inherit;
}

.savebtn {
    background-color: rgb(214, 213, 213);
    width: 100px;
    height: 40px;
    margin-left: 10px;
    padding: 8px;
    color: black;
    font-family: Tahoma;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}