#root{
  background-color: #311a44;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #311a44;
  justify-content: center;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  max-height: 500px;
}

h1{
  font-family:Tahoma;
  padding: 10%;
  margin-bottom: 0;
}