body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* Ensure the body and html elements are 100% height */
}

#map {
    height: 600px;
    width: 1200px;
    margin: 0 auto; /* Center the map */
}